.wrap {
    border: 5px solid rgb(14, 13, 15);
    width: 200px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:rgb(66, 82, 230);
}
img{
    width: 200px;
    height: 200px;
}

.btn{
    font-size: 30px;
}